<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragment/head}">
<body class="sb-nav-fixed">
<nav th:replace="~{fragment/userHeader}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_content_user">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">생산 업무 페이지</h1>
                <ol class="breadcrumb mb-4">
                    <!--                    <li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <!-- -->
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fas fa-chart-area me-1"></i>
                                    판매량
                                </div>
                                <!-- 드롭다운 버튼 -->
                                <select id="chartMonthSelect" class="form-select" style="width: 100px;">
                                    <option value="" selected>2024년</option>
                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}+월"></option>
                                </select>
                            </div>
                            <div class="card-body">
                                <canvas id="orderChart" style="max-width: 1000px; max-height: 300px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fas fa-chart-area me-1"></i>
                                    재고 현황
                                </div>
                                <!-- 드롭다운 버튼 -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="warehouseChartDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        막대 차트
                                    </button>
                                    <ul class="dropdown-menu" id="chartDropDownMenu" aria-labelledby="warehouseChartDropdown">
                                        <li><button class="dropdown-item warehouse-dropdown-item" data-value="bar" data-name="막대 차트 ">막대 차트</button></li>
                                        <li><button class="dropdown-item warehouse-dropdown-item" data-value="line" data-name="선형 차트 ">선형 차트</button></li>
                                        <li><button class="dropdown-item warehouse-dropdown-item" data-value="doughnut" data-name="도넛 차트 ">도넛 차트</button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="warehouseChart" style="max-width: 1000px; max-height: 300px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between">
                        <i class="fas fa-table me-1"></i>
                        <button class="btn btn-secondary dropdown-toggle ms-2" type="button" id="tableDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                            생산품 현황
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="tableDropDown">
                            <li><button class="dropdown-item table-dropdown-item" data-value="companySourceList" data-name="생산품 현황 " type="button">생산품 현황</button></li>
                            <li><button class="dropdown-item table-dropdown-item" data-value="warehouseList" data-name="창고 현황 " type="button">창고 현황</button></li>
                            <li><button class="dropdown-item table-dropdown-item" data-value="orderList" data-name="주문 현황 " type="button">주문 현황</button></li>
                        </ul>
                        <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#addSourceModal">신규 생산품목</button>
                    </div>
                    <div class="card-body">
                        <div id="companySourceTableContainer">
                            <table id="companySourceTable" class="table table-bordered" style="table-layout: fixed;">
                                <thead>
                                <tr>
                                    <th>no</th>
                                    <!--                                    <th>등록 번호</th>-->
                                    <th>생산품명</th>
                                    <th>가격</th>
                                    <th>현재 창고 재고량</th>
                                    <th>작업</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div id="warehouseTableContainer" style="display:none;">
                            <table id="warehouseTable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>no</th>
                                    <!--                                    <th>입출번호</th>-->
                                    <th>생산품명</th>
                                    <th>입출량</th>
                                    <th>구분</th>
                                    <th>입출시간</th>
                                    <!-- 출고량 / 입고량  이렇게 나오면되나 ? -->
                                    <!--                                    <th>생산(입고)일자</th>-->
                                    <!--                                    <th>납품일자</th> &lt;!&ndash; 30 / 100 이었다가 100 / 100 되면 100 / 100 되는 순간의 납품일자로 업데이트 &ndash;&gt;-->
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div id="orderTableContainer" style="display:none;">
                            <table id="orderTable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>no</th>
                                    <th>주문번호</th>
                                    <th>주문한 재료</th>
                                    <th>재료 가격</th>
                                    <th>주문한 갯수</th>
                                    <th>총 주문 가격</th>
                                    <th>주문 일자</th>
                                    <th>주문 상태</th>
                                    <th>작업</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <!-- 업데이트(update) 모달 -->
                        <div class="modal fade" id="updateSourceModal" tabindex="-1" aria-labelledby="updateSourceModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="updateSourceModalLabel">판매 가격 수정</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="updateSourceForm">
                                            <input type="hidden" id="oldPrice">
                                            <div class="container">
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">생산품명</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="updateSourceName" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">가격</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="number" id="updateSourcePrice" class="form-control" min="50" max="100000" value="50" step="50" required>
                                                            <span class="input-group-text">₩</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="updateCompanySourceId" name="sourcePriceId">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-primary" id="updateSourceBtn">수정</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 업데이트 모달 끝 -->


                        <!-- 생산(produce) 모달 -->
                        <div class="modal fade" id="produceSourceModal" tabindex="-1" aria-labelledby="produceSourceModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="produceSourceModalLabel">창고에 재고 등록</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="produceSourceForm">
                                            <div class="container">
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">생산품명</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="produceSourceName" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">생산품가격</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="produceSourcePrice" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">갯수</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" id="sourceQuantity" class="form-control"
                                                               min="10" max="50000" value="10" step="10">
                                                    </div>
                                                </div>
                                                <input type="hidden" id="sourcePriceId" name="sourcePriceId">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-primary" id="produceSourceBtn">생산</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 생산 모달 끝 -->

                        <!-- 생산품 등록 모달 -->
                        <div class="modal fade" id="addSourceModal" tabindex="-1" aria-labelledby="addSourceModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="addSourceModalLabel">신규 생산품 등록</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="addSourceForm">
                                            <div class="container">
                                                <!-- 제품 선택 및 자동완성 -->
                                                <div class="mb-3 row align-items-center">
                                                    <label for="addSourceSelect" class="col-sm-3 col-form-label">제품</label>
                                                    <div class="col-sm-9">
                                                        <!-- 셀렉트 박스 -->
                                                        <select id="addSourceSelect" class="form-select addSource">
                                                            <option value="directInput">직접입력</option>
                                                        </select>
                                                        <!-- 인풋 필드 -->
                                                        <input type="text" id="addSourceInput" class="form-control mt-2 addSource" placeholder="제품을 입력하세요">
                                                    </div>
                                                </div>

                                                <!-- 가격 입력 -->
                                                <div class="mb-3 row align-items-center">
                                                    <label for="sourcePrice" class="col-sm-3 col-form-label">가격</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="number" id="sourcePrice" class="form-control" min="50" max="100000" value="50" step="50" name="sourcePrice" required>
                                                            <span class="input-group-text">₩</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-primary" id="addSourceBtn">등록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 생산품 등록 모달 끝 -->

                        <!-- 주문 처리(orderProcess) 모달 -->
                        <div class="modal fade" id="orderProcessModal" tabindex="-1" aria-labelledby="orderProcessModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="orderProcessModalLabel">주문서 확인</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="orderProcessForm">
                                            <div class="container">
                                                <input type="hidden" class="form-control" id="orderId" disabled>
                                                <input type="hidden" class="form-control" id="orderSourcePriceId" disabled>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">주문번호</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderIdView" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">주문한 재료</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderSourceName" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">재료 가격</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderSourcePrice" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">갯수</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderQuantity" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">총 주문 가격</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderTotalPrice" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">주문 일자</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderDate" disabled>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">현재 창고 재고량</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="orderStockBalance" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-primary" id="orderProcessBtn">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 주문 처리(orderProcess) 모달 끝 -->
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<div id="toastContainer" style="position: fixed; bottom: 20px; right: 20px; z-index: 10;"></div>
</body>
<th:block th:replace="~{fragment/footer}"></th:block>
<script th:inline="javascript" th:src="@{/js/common.js}"></script>
<script th:inline="javascript" th:src="@{/js/productCompany.js}"></script>
</html>