<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragment/head}"></head>
<body class="sb-nav-fixed">
<nav th:replace="~{fragment/userHeader}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_content_user">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">생산 업무 관리자 페이지</h1>
                <ol class="breadcrumb mb-4">
                    <!--                    <li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                재고 현황 차트
                            </div>
                            <div class="card-body">
                                <canvas id="salesProductPriceChart" width="100%" height="100%"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                생산 주문 요청 차트
                            </div>
                            <div class="card-body">
                                <canvas id="salesProductChart" width="100%" height="100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productTableArea">
                    <div class="productTableAreaTitle">
                        <i class="bi bi-table tableicon"><button class="btn btn-primary order" id="productTableChange" name="productTableStatus" value="order">주문 현황</button></i>
                    </div>
                    <div class="productTableAreaTable">
                        <table id="productAdminTable" class="table">
                            <thead id="productAdminTableTHead">
                            <tr>
                                <th>주문번호</th>
                                <th>생산업체명</th>
                                <th>생산품</th>
                                <th>생산품가격</th>
                                <th>개수</th>
                                <th>가격</th>
                                <th>주문일자</th>
                                <th>상태</th>
                                <th>주문 승인 | 주문 거절</th>
                            </tr>
                            </thead>
                            <tbody id="productAdminTableTBody">
                            <tr th:each="productOrder : ${paginatedOrderList}">
                                <td th:text="${productOrder.getRowNum()}"></td>
                                <td th:text="${productOrder.getProductCompanyName()}"></td>
                                <td th:text="${productOrder.getSourceName()}"></td>
                                <td th:text="${productOrder.getSourcePrice()}"></td>
                                <td th:text="${productOrder.getQuantity()}"></td>
                                <td th:text="${productOrder.getTotalPrice()}"></td>
                                <td th:text="${productOrder.getProductOrderDate()}"></td>
                                <td th:text="${productOrder.getStatus()}"></td>
                                <td><button class="btn btn-primary">승인</button><button class="btn btn-danger">거절</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="productTableAreaBottom">
                            <div class="productTableAreaLeftEnd">
<!--                                <h5 th:text="${pagination.getTotalContent()}" id="totalContent">totalPage</h5>-->
                            </div>
                            <div class="productTableAreaBottomCenter">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination" id="productTablePagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" th:href="@{/product/admin/main?page=1}">처음</a>
                                        </li>
                                        <li class="page-item" th:classappend="${pagination.currentPage == 1} ? 'disabled'">
                                            <a class="page-link" data-value="prev" href="#" th:href="@{/product/admin/main(page=${pagination.currentPage - 1})}">이전</a>
                                        </li>
                                        <li class="page-item"
                                            th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                                            th:classappend="${i == pagination.currentPage} ? 'active'">
                                            <a class="page-link"  th:attr="data-value=${i}" >[[${i}]]</a>
                                        </li>
                                        <li class="page-item" th:classappend="${pagination.currentPage == pagination.totalPage} ? 'disabled'">
                                            <a class="page-link" href="#" th:href="@{/product/admin/main(page=${pagination.currentPage + 1})}">다음</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" th:href="@{/product/admin/main(page=${pagination.totalPage})}">끝</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="productTableAreaBottomRightEnd">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#insertModal">
                                    생산 업체 등록
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="fragment/productAdminPageModal"></th:block>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<th:block th:replace="~{fragment/productAdminFooter}"></th:block>
<script src="/js/productCompanyAdmin.js" th:src="@{/js/productCompanyAdmin.js}"></script>
<scipt>

</scipt>
</html>