<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragment/head}"></head>
<body class="sb-nav-fixed">
<nav th:replace="~{fragment/userHeader}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_content_user">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">생산 업무 페이지</h1>
                <ol class="breadcrumb mb-4">
<!--                    <li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                재고 현황 차트
                            </div>
                            <div class="card-body">
                                <canvas id="salesProductPriceChart" width="100%" height="100%"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                생산 주문 요청 차트
                            </div>
                            <div class="card-body">
                                <canvas id="salesProductChart" width="100%" height="100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        주문 현황
                    </div>
                    <div class="card-body">
                        <div class="input-group justify-content-end mb-3" style="width: 500px;">
                            <select class="datatable-selector">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <input type="text" class="form-control">
                            <button class="btn btn-primary btn-sm">검색</button>
                        </div>
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>주문번호</th>
                                <th>생산업체명</th>
                                <th>생산품</th>
                                <th>생산품가격</th>
                                <th>개수</th>
                                <th>가격</th>
                                <th>주문일자</th>
                                <th>상태</th>
                                <th>수정하기</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>주문번호</th>
                                <th>생산업체명</th>
                                <th>생산품</th>
                                <th>생산품가격</th>
                                <th>개수</th>
                                <th>가격</th>
                                <th>주문일자</th>
                                <th>상태</th>
                                <th>수정하기</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="product : ${productList}" >
                                <td th:text="${#strings.substring(product.productOrderId, 0, 8)}"></td>
                                <td th:text="${product.productCompanyName}"></td>
                                <td th:text="${product.sourceName}"></td>
                                <td th:text="${product.sourcePrice}"></td>
                                <td th:text="${product.quantity}"></td>
                                <td th:text="${product.totalPrice}"></td>
                                <td th:text="${product.productOrderDate}"></td>
                                <td th:text="${product.statusName}"></td>
                                <td>
                                    <!-- 수정 -->
                                    <button type="button" class="btn btn-info btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#productUpdateModal"
                                            th:attr="data-id=${product.productOrderId}">
                                        수정
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 수정 모달 -->
                        <div class="modal fade" id="productUpdateModal" tabindex="-1" aria-labelledby="productUpdateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="productUpdate" th:action="@{/}" th:method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="productUpdateModalLabel">product Update</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card-body-bottom">
                            <!-- Button trigger modal -->
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#orderModal">
                                    주문 모달
                                </button>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="orderModalLabel">발주</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- 모달 바디안에 들어갈 내용 여기에 !! -->

                                        <!-- 발주 폼) 구매번호 - 주문자 - 주문처타입 - 주문처 - 발주처 - 카테고리 - 제품 - 갯수 -->
                                        <form>
                                            <div class="container">
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">카테고리</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="category" name="category" required>
                                                            <option>선택</option>
                                                            <option value="1">농산물</option>
                                                            <option value="2">축산물</option>
                                                            <option value="3">수산물</option>
                                                            <option value="4">...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">제품</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="product" name="product" required>
                                                            <option>선택</option>
                                                            <option value="1">고등어</option>
                                                            <option value="2">문어</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row align-items-center">
                                                    <label class="col-sm-3 col-form-label">갯수</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" id="count" class="form-control"
                                                               min="1" max="99" value="1" step="1" name="count">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <!-- 가격 자동 계산 해서 보여줌 readonly -->
                                        <div class="mb-3 row align-items-center">
                                            <label class="col-sm-3 col-form-label">가격</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" value="4500000" readonly aria-label="price" name="price" id="price">
                                                    <span class="input-group-text">₩</span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 모달 바디 끝 -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기
                                        </button>
                                        <button type="button" class="btn btn-primary" id="orderBtn">주문</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal div end -->
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<th:block th:replace="~{fragment/footer}"></th:block>
<script>

    document.getElementById('orderBtn').addEventListener('click', function (){
        const product = document.getElementById('product').value;
        const count = document.getElementById('count').value;
        console.log(product);
        console.log(count);
    });

    /* price 콤마 표기 ex) 4500000 -> 4,500,000 */
    document.addEventListener("DOMContentLoaded", function () {
        var priceInput = document.getElementById("price");
        var priceValue = 4500000; // 예를 들어 서버에서 받아온 숫자 값

        priceInput.value = priceValue.toLocaleString('ko-KR');
    });

    const ctx = document.getElementById('salesProductChart');
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['감자', '삼겹살', '김치', '고구마', '고등어', '문어'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    const ctx2 = document.getElementById('salesProductPriceChart');
    new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['감자', '삼겹살', '김치', '고구마', '고등어', '문어'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</html>