<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragment/adminHeader :: head"></th:block>
</head>


<th:block th:replace="fragment/adminHeader :: body"></th:block>
<div id="layoutSidenav_content">
    <!-- 페이지마다 다른 콘텐츠 -->
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-5 mb-5">밀키트 창고</h1>

            <div class="row mb-5">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            창고 재고 현황
                        </div>
                        <div class="card-body">
                            <canvas id="myChart" width="100%" height="60"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            밀키트별 누적 판매량
                        </div>
                        <div class="card-body">
                            <canvas id="myChart02" width="100%" height="60"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    밀키트 업체별 밀키트 재고 확인
                </div>
                <div class="card-body">

                    <form action="/adminMain" method="get" class="input-group justify-content-end ms-auto mb-3" style="width: 400px;">
                        <select class="datatable-selector" name="category">
                            <option value="All">All</option>
                            <option value="firstName">firstName</option>
                            <option value="lastName">lastName</option>
                            <option value="email">email</option>
                            <option value="department">department</option>
                            <option value="hiredate">hiredate</option>
                        </select>
                        <input type="text" class="form-control" name="keyword" placeholder="Search...">
                        <button type="submit" class="btn btn-primary">검색</button>
                    </form>




                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>창고 ID</th>
                            <th>밀키트 업체명</th>
                            <th>밀키트 명</th>
                            <th>재고</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>번호</th>
                            <th>창고 ID</th>
                            <th>밀키트 업체명</th>
                            <th>밀키트 명</th>
                            <th>재고</th>
                        </tr>
                        </tfoot>
                        <!--tbody > tr > td-->
                        <tbody>
                        <tr th:each="storage, iterStat : ${storage}" >
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${storage.kitStorageId}"></td>
                            <td th:text="${storage.companyName}"></td>
                            <td th:text="${storage.mealkitName}"></td>
                            <td th:text="${storage.quantity}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    처리 완료된 주문 확인
                </div>
                <div class="card-body">

                    <form action="/adminMain" method="get" class="input-group justify-content-end ms-auto mb-3" style="width: 400px;">
                        <select class="datatable-selector" name="category">
                            <option value="All">All</option>
                            <option value="firstName">firstName</option>
                            <option value="lastName">lastName</option>
                            <option value="email">email</option>
                            <option value="department">department</option>
                            <option value="hiredate">hiredate</option>
                        </select>
                        <input type="text" class="form-control" name="keyword" placeholder="Search...">
                        <button type="submit" class="btn btn-primary">검색</button>
                    </form>




                    <table id="datatablesSimple02">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>주문 ID</th>
                            <th>밀키트 업체명</th>
                            <th>밀키트명</th>
                            <th>밀키트 가격</th>
                            <th>개수</th>
                            <th>총액</th>
                            <th>주문일자</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>번호</th>
                            <th>주문 ID</th>
                            <th>밀키트 업체명</th>
                            <th>밀키트명</th>
                            <th>밀키트 가격</th>
                            <th>개수</th>
                            <th>총액</th>
                            <th>주문일자</th>
                        </tr>
                        </tfoot>
                        <!--tbody > tr > td-->
                        <tbody>
                        <tr th:each="completed, iterStat : ${allCompleted}" >
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${completed.kitOrderId}"></td>
                            <td th:text="${completed.companyName}"></td>
                            <td th:text="${completed.mealkitName}"></td>
                            <td th:text="${completed.mealkitPrice}"></td>
                            <td th:text="${completed.quantity}"></td>
                            <td th:text="${completed.total}"></td>
                            <td th:text="${completed.productOrderDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
</div>













<th:block th:replace="fragment/adminFooter :: footer"></th:block>
</body>
</html>

<!--차트1-->
<script th:inline="javascript">

    const kitList = [[${kitTotalQuantity}]];

    // 데이터와 라벨 배열 초기화
    const labels = [];
    const data = [];
    const backgroundColors = [];

    // companyList의 각 항목을 사용하여 라벨, 데이터, 색상 생성
    kitList.forEach(kit => {
        labels.push(kit.mealkitName);  // 회사 이름을 라벨로 사용
        data.push(kit.totalQuantity);  // 임의의 데이터 생성// 랜덤 배경색 (불투명)
    });

    // 랜덤 색상을 생성하는 함수 (rgba 형식)
    function getRandomColorWithOpacity(opacity) {
        const r = Math.floor(Math.random() * 256);
        const g = Math.floor(Math.random() * 256);
        const b = Math.floor(Math.random() * 256);
        return `rgba(${r}, ${g}, ${b}, ${opacity})`;
    }



    // 차트 생성
    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '',
                data: data,
                backgroundColor: backgroundColors,
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false  // 범례를 숨기기
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const salesKitList = [[${salesKit}]];

    // 데이터와 라벨 배열 초기화
    const labels02 = [];
    const data02 = [];

    // companyList의 각 항목을 사용하여 라벨, 데이터, 색상 생성
    salesKitList.forEach(kit => {
        labels02.push(kit.mealkitName);  // 회사 이름을 라벨로 사용
        data02.push(kit.totalQuantity);
        backgroundColors.push(getRandomColorWithOpacity(0.5)); // 임의의 데이터 생성
    });


    // 차트 생성
    const ctx02 = document.getElementById('myChart02').getContext('2d');
    new Chart(ctx02, {
        type: 'bar',
        data: {
            labels: labels02,
            datasets: [{
                label: '',
                data: data02,
                backgroundColor: backgroundColors,
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false  // 범례를 숨기기
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>
