<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragment/adminHeader :: head}"></div>
</head>


<div th:replace="~{fragment/salesUserHeader :: body}"></div>
<div id="layoutSidenav_content">
    <!-- 페이지마다 다른 콘텐츠 -->
    <main>
        <div id="alertMessage" th:if="${message}" class="alert alert-info" role="alert" th:text="${message}"></div>

        <div class="container-fluid px-4">

            <!-- 3개의 버튼을 일렬로 배치 -->
            <div class="d-flex justify-content-end mb-4 mt-4">
                <button class="btn btn-primary mx-2"
                        data-bs-toggle="modal"
                        data-bs-target="#insertKitOrderModal">
                    밀키트 주문 추가
                </button>
            </div>
            <!--상단카드-->
            <div class="row mb-3">
                <!--               월매출 카드-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col ms-2 mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                        월 매출액</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="'₩'+${totalMonthSale}">40,000</div>
                                </div>
                                <div class="col-auto mr-3">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                연매출 카드-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col ms-2 mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        연 매출액</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="'₩'+${totalYearSale}">215,000</div>
                                </div>
                                <div class="col-auto mr-3">
                                    <i class="fa-solid fa-won-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                주문 처리중-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col ms-2 mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        주문 처리중
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${processingCount}">1000</div>
                                </div>
                                <div class="col-auto mr-3">
                                    <i class="fa-solid fa-bars-progress fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                주문 완료-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col ms-2 mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        주문 완료</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${completeCount}">18</div>
                                </div>
                                <div class="col-auto mr-3">
                                    <i class="fa-solid fa-check fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--로그인 정보-->
            <div class="card shadow mt-4 mb-5">
                    <div class="card-header">
                        <i class="fa-solid fa-user mr-1"></i>
                        <span th:text="${userId}"></span>님의 정보
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <i class="fa-solid fa-circle-user"></i>
                                <strong class="mb-1">업체명</strong>
                                <p class="card-text">
                                    <span th:text="${info.kitCompanyName}"></span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <i class="fa-solid fa-location-dot"></i>
                                <strong class="mb-1">업체주소</strong>
                                <p class="card-text">
                                    <span th:text="${info.address}"></span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <i class="fa-solid fa-envelope"></i>
                                <strong class="mb-1">이메일</strong>
                                <p class="card-text">
                                    <span th:text="${info.email}"></span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <i class="fa-solid fa-phone"></i>
                                <strong class="mb-1">전화번호</strong>
                                <p class="card-text">
                                    <span th:text="${info.tel}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <!--차트-->
            <div class="row">
                <div class="col-xl-6">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-chart-column"></i>
                            <span th:text="${info.kitCompanyName}"></span> 업체 밀키트 재고 수량
                        </div>
                        <div class="card-body">
                            <canvas id="myChart" width="100%" height="60"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-chart-line"></i>
                            <span th:text="${info.kitCompanyName}"></span> 업체 월별 매출액
                        </div>
                        <div class="card-body">
                            <canvas id="myChart02" width="100%" height="60"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--판매처리-->
            <div class="card shadow mb-5">
                <div class="card-header">
                    <i class="fa-solid fa-list"></i>
                    <span th:text="${info.kitCompanyName}"></span> 업체 밀키트 주문 내역
                </div>
                <div class="card-body">

                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>주문 ID</th>
                            <th>밀키트명</th>
                            <th>밀키트 가격</th>
                            <th>개수</th>
                            <th>총액</th>
                            <th>주문일자</th>
                            <th>상태</th>
                            <th>취소</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>번호</th>
                            <th>주문 ID</th>
                            <th>밀키트명</th>
                            <th>밀키트 가격</th>
                            <th>개수</th>
                            <th>총액</th>
                            <th>주문일자</th>
                            <th>상태</th>
                            <th>취소</th>
                        </tr>
                        </tfoot>

                        <!--tbody > tr > td-->
                        <tbody>
                        <tr th:each="list, iterStat : ${list}">

                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${list.kitOrderId}"></td>
                            <td th:text="${list.mealkitName}"></td>
                            <td th:text="${list.price}"></td>
                            <td th:text="${list.quantity}"></td>
                            <td th:text="${list.total}"></td>
                            <td th:text="${list.orderDate}"></td>
                            <td th:text="${list.status}"></td>

                            <td>
                                <form th:action="@{/sales/user/cancel}" th:method="post" class="cancel-form">
                                    <input type="hidden" name="kitOrderId" th:value="${list.kitOrderId}">
                                    <button th:if="${list.status == '취소'}" disabled class="btn btn-secondary btn-sm" >
                                        취소완료
                                    </button>
                                    <button th:if="${list.status != '처리완료' && list.status !='취소'}" type="submit" class="btn btn-danger btn-sm">
                                        취소
                                    </button>
                                    <button th:if="${list.status == '처리완료'}" disabled class="btn btn-secondary btn-sm" >
                                        취소불가
                                    </button>

                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>

        </div>


    </main>
</div>



<!-- 주문 추가 모달 -->
<div class="modal fade" id="insertKitOrderModal" tabindex="-1" aria-labelledby="insertKitOrderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertKitOrderModalLabel">밀키트 주문</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="insertKitOrderForm" th:action="@{/sales/user/insert}" th:method="post">
                    <input type="hidden" th:value="${info.kitCompanyId}" name="kitCompanyId">
                    <div class="mb-3">
                        <label for="kitCompanyName" class="form-label">밀키트 업체명</label>
                        <input type="text" class="form-control" th:value="${info.kitCompanyName}" name="kitCompanyName" id="kitCompanyName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="mealkitId" class="form-label">밀키트명</label>
                        <select class="form-control" id="mealkitId" name="mealkitId" required onchange="showPrice()">
                            <option value="" disabled selected>밀키트를 선택하세요</option>
                            <option th:each="mealkit : ${mealkitList}"
                                    th:value="${mealkit.MEALKIT_ID}"
                                    th:text="${mealkit.NAME}"
                                    th:data-price="${mealkit.PRICE}">
                            </option>
                        </select>

                    </div>
                    <div class="mb-3">
                        <!-- 밀키트 가격을 표시할 입력 필드 -->
                        <label for="mealkitPrice" class="form-label">밀키트 가격</label>
                        <input type="number" id="mealkitPrice" name="price" class="form-control" readonly
                               placeholder="가격이 여기에 표시됩니다">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">수량</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary" form="insertKitOrderForm">주문 추가</button>
            </div>
        </div>
    </div>
</div>




<div th:replace="~{fragment/adminFooterWithSearch :: footer}"></div>
</body>
</html>

<!--밀키트 가격 띄우기-->
<script>
    function showPrice() {
        var selectElement = document.getElementById('mealkitId');
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var price = selectedOption.getAttribute('data-price');

        var priceInput = document.getElementById('mealkitPrice');

        if (price) {
            priceInput.value = price;
        } else {
            priceInput.value = ""; // 초기 상태 또는 선택되지 않은 경우 빈칸 유지
        }
    }
</script>

<!--차트1-->
<script th:inline="javascript">

    const kitList = [[${kitStorage}]];

    // 데이터와 라벨 배열 초기화
    const labels = [];
    const data = [];
    const backgroundColors = [];

    // companyList의 각 항목을 사용하여 라벨, 데이터, 색상 생성
    kitList.forEach(kit => {
        labels.push(kit.mealkitName);  // 회사 이름을 라벨로 사용
        data.push(kit.quantity);
        backgroundColors.push(getRandomColorWithOpacity(0.5));// 임의의 데이터 생성// 랜덤 배경색 (불투명)
    });

    // 랜덤 색상을 생성하는 함수 (rgba 형식)
    function getRandomColorWithOpacity(opacity) {
        const r = Math.floor(Math.random() * 256);
        const g = Math.floor(Math.random() * 256);
        const b = Math.floor(Math.random() * 256);
        return `rgba(${r}, ${g}, ${b}, ${opacity})`;
    }



    // 차트 생성
    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '',
                data: data,
                backgroundColor: backgroundColors,
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false  // 범례를 숨기기
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });



    // 두번째 차트
    const monthList = [[${monthlyList}]];


    // 라벨 생성
    const month = [];
    for (let i = 1; i <= 12; ++i) {
        month.push(i.toString());
    }

    // 차트 설정
    const config = {
        type: 'line',
        data: {
            labels: month,
            datasets: [{
                data: monthList,
                borderColor: backgroundColors,  // 데이터셋의 색상
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: false,
                    text: '매출액'
                },
                legend: {
                    display: false  // 범례를 숨기기
                }
            },
            interaction: {
                intersect: false,
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: '월'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: '원'
                    },
                    suggestedMin: 0,
                    suggestedMax: 500
                }
            }
        },
    };

    const ctx02 = document.getElementById('myChart02').getContext('2d');
    new Chart(ctx02, config);

</script>


