
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- 여기에 기존의 <nav> 태그 안의 내용을 복사 -->
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
<!--                -->
            </div>
        </form>
        <!-- Navbar--><ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
                <span class="ms-2 d-none d-lg-inline-block" th:text="${#authentication.name}">User</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
<!--                <li><hr class="dropdown-divider" /></li>-->
            </ul>
        </li>
    </ul>
    </nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <!-- 여기에 기존의 사이드바 내용 복사 -->
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Category</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#salesAdminMenu" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Sales Admin Page
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="salesAdminMenu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/sales">판매</a>
                            <a class="nav-link" href="/sales/storage">판매창고</a>
                            <a class="nav-link" href="/sales/source-price">밀키트 가격 설정</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#salesUserMenu" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Sales User Page
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="salesUserMenu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/sales">판매</a>
                            <a class="nav-link" href="/sales/storage">판매창고</a>
                            <a class="nav-link" href="/sales/source-price">밀키트 가격 설정</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="/wareHouse/selectAll" th:href="@{/wareHouse/selectAll}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Logistics

                    </a>



<!--                    <a class="nav-link collapsed" href="/wareHouse/selectAll" th:href="@{wareHouse/selectAll}" data-bs-toggle="collapse" data-bs-target="#logisticsMenu" aria-expanded="false" aria-controls="collapseLayouts">-->
<!--                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
<!--                        Logistics-->
<!--                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                    </a>-->
<!--                    <div class="collapse" id="logisticsMenu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">-->
<!--                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                            <a class="nav-link" href="/distribution/main">Logistics Admin Page</a>-->
<!--                            <a class="nav-link" href="#">Logistics User Page</a>-->
<!--                            <a class="nav-link" href="/distribution/main">밀키트 재료 발주/출고 요청 페이지</a>-->
<!--                            <a class="nav-link" href="/sales/product/order">밀키트 재료 발주로그 페이지</a>-->
<!--                            <a class="nav-link" href="/distribution/order">유통관리</a>-->
<!--                            <a class="nav-link" href="/wareHouse/selectAll" th:href="@{wareHouse/selectAll}">유통창고</a>-->
<!--                        </nav>-->
<!--                    </div>-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#productMenu" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Products
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="productMenu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/product" th:href="@{/product/admin/main?page=1}">Products Admin Page</a>
                            <a class="nav-link" href="/product" th:href="@{/product/company}">Products User Page</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

