<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="userHeader">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html" th:href="@{/}">Start Bootstrap</a>
    <!-- Navbar Search-->
    <div class="ms-auto">
        <a href="#" role="button" ><i class="bi bi-bell head-icon"></i></a>
    </div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw head-icon"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>