<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SampleMapper">

<!-- parameterType, resultType = Dto or Entity or Map or String, int ~~~ -->
    <select id="selectAll" parameterType="Map" resultType="Map">


    </select>
    <select id="selectOne" parameterType="Map" resultType="Map">


    </select>
    <insert id="insert" parameterType="Map">

    </insert>
    <delete id="delete">

    </delete>
    <update id="update">

    </update>

</mapper>
