.head-icon{
    font-size: 28px !important;
}
.login-body-area{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
}
.login-area{
    width:400px;
    height:500px;
}
.charttest{
    position: absolute;
    left:20%;
}

