.checkProductBtn{
    margin-right : 20px;
}
.chartTitle{
    display: flex;
    align-items: center;
}
.chartTitleLeft{
    flex: 1;
    align-items: center;
}
.chartTitleCenter{
    flex: 2;
}
.chartTitleRight{
    flex: 2;
}
.tableTitle{
    display: flex;
    align-items: center;
}
.tableTitleLeft{
    flex: 1;
}
.tableTitleCenter{
    flex: 2;
    justify-content: center;
}
.tableTitleRight{
    flex: 2;
    justify-content: flex-end;
}