.checkProductBtn{
    margin-right : 20px;
}
.productAdminMainTableArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productAdminMainTableLeft{
    flex:1;
}
.productAdminMainTableCenter{
    display: flex;
    justify-content: center;
    flex: 3;
}
.productAdminMainTableRight{
    display: flex;
    justify-content: flex-end;
    flex: 2;
}
