<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="refresh" content="0; url=/index/index" >
</head>
<body>

    <h1> index </h1>

    <h2><a href="/test">템플릿 적용 화면</a></h2>
    <h2><a href="/adminMain">crud 샘플 화면</a></h2>

    <hr>
    <h5><a href="/sales">판매</a></h5>
    <h5><a href="/sales/storage">판매창고</a></h5>
    <h5><a href="/sales/source-price">밀키트 가격 설정</a></h5>
    <hr>

    <h5><a href="/distribution/main">밀키트 재료 발주/출고 요청 페이지</a></h5>
    <h5><a href="/distribution/order">유통관리</a></h5>


    <hr>
    <a href="/member/signin" th:href="@{/member/signin}">회원가입</a>
    <a href="/product" th:href="@{/product/admin/main?page=1}">생산업체(admin)</a>
    <a href="/product" th:href="@{/product/company}">생산업체</a>
    <hr>
    <a href="/wareHouse/selectAll" th:href="@{wareHouse/selectAll}">유통창고</a>
</body>
</html>