<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragment/adminHeader :: head"></th:block>
</head>


<th:block th:replace="fragment/adminHeader :: body"></th:block>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">생산업체별 재료 가격 테이블</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">생산업체별 재료 가격 테이블</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    생산업체별 재료 가격표
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>가격 ID</th>
                            <th>생산업체 ID</th>
                            <th>재료 ID</th>
                            <th>가격</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="price : ${sourcePriceList}">
                            <td th:text="${price.sourcePriceId}"></td>
                            <td th:text="${price.productCompanyId}"></td>
                            <td th:text="${price.sourceId}"></td>
                            <td th:text="${price.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const priceModal = document.getElementById('priceModal');

        if (priceModal) {
            priceModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget;
                const priceId = button.getAttribute('data-id');
                const companyId = button.getAttribute('data-companyid');
                const sourceId = button.getAttribute('data-sourceid');
                const price = button.getAttribute('data-price');

                document.getElementById('modalPriceId').value = priceId;
                document.getElementById('modalCompanyId').value = companyId;
                document.getElementById('modalSourceId').value = sourceId;
                document.getElementById('modalPrice').value = price;

                const form = document.getElementById('priceForm');
                form.action = `/sourcePrice/update`;
            });
        }
    });
</script>

</body>
</html>